$Gold: #c8ab7c;
$DarkGold: #ba9b60;
$LightGold: #c8ab7c61;
$BackGround: #f9f6f3;
$Creme: #ece6dc;
$CremDark: #d3c3ab;
$Brown: #6f2819;
$LightBrown: #ad7460;
$Light: #f3efeb;
$Black: #000000;
$White: #ffffff;
$Red: #ff0000;
$Grey: #6060608a;
