.ProjetPreview {
  position: fixed;
  right: 50px;
  top: 47vh;

  .cadre {
    z-index: 1;
    position: absolute;
    top: 0;
    right: -0.5vh;
    height: calc(6vh + 1vh);
    width: calc(100% + 1vh);
    border: 1px solid $Gold;
  }

  .videosContainer {
    padding: 0.5vh 0;
    width: 11.5vh;
    display: flex;
    flex-direction: column;
    gap: 2.5vh;

    img {
      height: 6vh;
      width: 100%;
      object-fit: cover;
      object-position: center;
      pointer-events: none;
    }
  }
}
